constellation.so:443, www.constellation.so:443 {
	header / -Server
	header / Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	gzip
	log access.log

	root web

	proxy /network localhost:8080 {
		transparent
	}
	
	proxy /pad pad.constellation.so:80 {
		transparent
		without /pad
	}
	basicauth /network/dashboard constellation theConstellati0nnetwork
	basicauth /network/authorize constellation theConstellati0nnetwork
	basicauth /network/unauthorize constellation theConstellati0nnetwork
	basicauth /network/delete constellation theConstellati0nnetwork
	basicauth /network/name constellation theConstellati0nnetwork
}
