<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Constellation</title>
    <meta name="description" content="Constellation Network (ConstellationNet) Alternative Network">
    <meta name="author" content="Constellation Network"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>


<div class="center">
  <h2>Manage Domain</h2>
    <table>
      <tr>
        <td style="border: none;"><input type="text" name="name" value="Domain" onfocus="this.value=''"></td>
        <td style="border: none;"><input class="large-box" type="submit" value="Manage" onclick="window.location='/network/manage?domain=' + document.getElementsByName('name')[0].value;"></td>
      </tr>
    </table>
</div>

</body>

<footer>&copy; <script>document.write(new Date().getFullYear());</script> Constellation Network Team.</footer>
</html>
