<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Arachnid</title>
    <meta name="description" content="Constellation Network (ConstellationNet) Alternative Network">
    <meta name="author" content="Constellation network"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>


<div class="center">
  <h1>Registration complete.</h1>
  <h6><a href="/network/manage?domain={{ domain }}">{{ domain }}</a> can be managed with the token:</h6>
  <h3 id="token">{{ token }}</h3>
  <hr>
  <h6>Treat this token like a password. If you would like to learn more about ArachNet token authentication, read our post at web.spider/blog/tokens</h6>
</div>
</body>

<footer>&copy; <script>document.write(new Date().getFullYear());</script> Constellation Network Team.</footer>
</html>
